<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Un générateur de carte pour prototypage rapide.">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
    type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
  <!-- Icons from https://seiyria.com/gameicons-font/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg-injector/1.1.3/svg-injector.min.js"
    integrity="sha512-LpKoEmPyokcDYSjRJ/7WgybgdAYFsKtCrGC9m+VBwcefe1vHXyUnD9fTQb3nXVJda6ny1J84UR+iBtEYm3OQmQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/justcaliturner/simple-code-editor/browser/css/dist/code_editor.min.css">

</head>

<body>
  <!-- example of injection point where you write your app template -->
  <div id="q-app" style="height: 100vh; width: 100%;">
    <q-splitter v-model="splitterModel" class="full-height" :limits="[30, 70]" before-class="column"
      after-class="column">
      <template v-slot:before>
        <!-- Colonne gauche -->
        <q-resize-observer @resize="onResize"></q-resize-observer>
        <div class="col column full-height">
          <!-- Tabs -->
          <q-tabs v-model="tab" class="bg-primary text-white shadow-2">
            <q-tab name="projet" icon="star" label="Projet"></q-tab>
            <q-tab name="donnees" icon="description" label="Données"></q-tab>
            <q-tab name="css" icon="style" label="CSS"></q-tab>
            <q-tab name="layout" icon="format_shapes" label="Layout"></q-tab>
          </q-tabs>
          <!-- Projet -->
          <q-tab-panels v-model="tab" animated class="col" keep-alive>
            <q-tab-panel name="projet">
              <p class="text-h5 q-pt-md">Sauvegarde</p>
              <q-list bordered class="rounded-borders">
                <q-expansion-item expand-separator icon="perm_identity" label="Import / Export JSON"
                  caption="Un fichier JSON pour les contrôler tous">
                  <q-card>
                    <q-card-section>
                      <!-- Import / export -->
                      <div class="row q-mb-sm">
                        <q-btn stack class="col" flat class="full-width" icon="content_copy" label="Copier"
                          @click="copy"></q-btn>
                        <q-btn stack class="col" flat class="full-width" icon="file_download" label="Exporter"
                          @click="save"></q-btn>
                        <q-btn stack class="col" flat class="full-width" icon="content_paste" label="Coller"
                          @click="load"></q-btn>
                      </div>
                      <p class="text-caption">Un fichier JSON qui contient toutes les données du projet en cour.</p>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>

                <q-expansion-item expand-separator icon="signal_wifi_off" label="Enregistrement local"
                  :caption="selectLocalProject ? 'Projet sélectionné: ' + selectLocalProject: 'Pas enregistré localement'">
                  <q-card>
                    <q-card-section>
                      <!-- Local projects -->
                      <div class="row q-mb-sm">
                        <div class="col-10">
                          <q-select dense outlined v-model="selectLocalProject" :options="localProjects"
                            label="Projets locaux">
                          </q-select>
                        </div>
                        <div class="col-2 text-center">
                          <q-btn dense round icon="save" @click="createLocalProject"></q-btn>
                        </div>
                      </div>
                      <div class="row q-mb-sm items-center" v-if="selectLocalProject">
                        <div class="col-10">
                          <b>Projet sélectionné:</b> {{ selectLocalProject }}
                        </div>
                        <div class="col-2 text-center">
                          <q-btn dense round flat icon="delete" @click="deleteProject"></q-btn>
                        </div>
                        <p class="text-caption">Les modifications sont enregistrées automatiquement.</p>
                      </div>
                      <p class="text-caption">Vos projet sont enregistrés localement dans votre navigateur. Attention:
                        ces données peuvent êtres
                        effacées par d'autres applications. Pour conserver une sauvegarde de votre projet, utilisez le
                        boutton "Enregistrer" ci-dessus
                        pour télécharger un fichier .json.</p>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>

                <q-expansion-item expand-separator label="Importer un projet Open Source Church">
                  <template v-slot:header>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://tools.open-source.church/wp-content/uploads/2022/03/osc-logo-plain-trans.png">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>Projets Open Source Church</q-item-section>
                  </template>
                  <q-card>
                    <q-card-section>
                      <!-- Projets OSC -->
                      <div class="row">
                        <p class="text-caption col-9">Vous pouvez importer un projet Open Source Church. Si êtes sur un
                          projet local,
                          celui-ci sera remplacé (créez un nouveau projet avant si vous souhaitez éviter cela.).
                        </p>
                        <a class="col-3" href="https://www.open-source.church" target="_blank">
                          <img src="https://www.open-source.church/images/logo/logo.webp"
                            style="width: 100%; height: fit-content;">
                        </a>
                        <p class="text-caption col-12">
                          Faites-vous plaisir avec — et si vous en dérivez des trucs cool, partagez-les :)
                        </p>
                      </div>
                      <q-select dense outlined :options="OSCProjects" @update:model-value="loadOSCProject"
                        label="Choisissez un projet à charger"></q-select>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>

              </q-list>

              <!-- Paramètres -->
              <p class="text-h5 q-mt-md q-pt-md">Paramètres</p>
              <q-list bordered class="rounded-borders">
                <!-- Dimension des cartes -->
                <q-expansion-item expand-separator icon="aspect_ratio" label="Dimensions de la carte">
                  <q-card>
                    <q-card-section>
                      <div class="row justify-center">
                        <div class="col-4">
                          <q-input dense outlined v-model.number="W" type="number" hint="largeur"></q-input>
                        </div>
                        <div class="col-1 text-center">×</div>
                        <div class="col-4">
                          <q-input dense outlined v-model.number="H" type="number" hint="hauteur"></q-input>
                        </div>
                      </div>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>

                <!-- Marques de découpe -->
                <q-expansion-item expand-separator label="Marques de découpe">
                  <template v-slot:header>
                    <q-item-section avatar>
                      <q-avatar icon="crop"></q-avatar>
                    </q-item-section>
                    <q-item-section>Marques de découpe</q-item-section>
                    <q-item-section side>
                      <q-toggle class="col-3" v-model="crop.active" />
                    </q-item-section>
                  </template>
                  <q-card>
                    <q-card-section class="row items-center q-gutter-y-sm">
                      <!-- Couleur -->
                      <div class="col-4 text-caption">Couleur</div>
                      <q-input outlined dense v-model="crop.color" class="col-8">
                        <template v-slot:append>
                          <q-icon name="colorize" class="cursor-pointer">
                            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                              <q-color v-model="crop.color"></q-color>
                            </q-popup-proxy>
                          </q-icon>
                        </template>
                      </q-input>
                      <!-- Taille -->
                      <div class="col-4 text-caption">Taille (mm)</div>
                      <q-input dense outlined v-model.number="crop.size" type="number"></q-input>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>
              </q-list>
            </q-tab-panel>

            <!-- Données -->
            <q-tab-panel name="donnees" class="q-pa-none column">
              <div class="row">
                <q-tabs v-model="panel2tab" dense class="col-10 text-grey" active-color="primary"
                  indicator-color="primary" align="justify" narrow-indicator>
                  <q-tab name="csv" label="CSV"></q-tab>
                  <q-tab name="data" label="Data"></q-tab>
                </q-tabs>
                <q-btn class="col-2" flat icon="info" color="info" @click.stop="dialogHelpDonnees">
              </div>
              <q-separator></q-separator>
              <q-tab-panels v-model="panel2tab" animated class="col" keep-alive>

                <!-- CSV source -->
                <q-tab-panel name="csv" class="q-pa-none">
                  <code-editor class="" v-model="csvSrc" height="100%" hide_header font_size="12px"
                    :width="panelWidth+'px'" border_radius="0px"></code-editor>
                </q-tab-panel>

                <!-- Données éditables -->
                <q-tab-panel name="data" class="row">
                  <q-input borderless dense debounce="300" v-model="dataFilter" placeholder="Filtre" class="col-6 offset-6">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                  <q-card class="col-12 q-mb-sm" v-for="d in filteredDonnees" :key="d">
                    <q-card-section>
                      <div class="row" v-for="key in Object.keys(d)" :key="key">
                        <div class="col-4 text-caption">{{ key }}</div>
                        <q-input v-model="d[key]" dense autogrow class="col-8"></q-input>
                      </div>
                    </q-card-section>
                  </q-card>
                </q-tab-panel>
              </q-tab-panels>
            </q-tab-panel>

            <!-- CSS -->
            <q-tab-panel name="css" class="q-pa-none">
              <!-- <q-input v-model="CSSSrc" filled type="textarea"></q-input> -->
              <code-editor :languages="[['css','CSS']]" v-model="CSSSrc" height="100%" hide_header font_size="12px"
                :width="panelWidth+'px'" border_radius="0px"></code-editor>
            </q-tab-panel>

            <!-- Layout -->
            <q-tab-panel name="layout" class="q-pa-none column">
              <!-- Tabs -->
              <div class="row">
                <q-tabs v-model="panelLayoutTabs" dense class="col-10 text-grey" active-color="primary"
                  indicator-color="primary" align="justify" narrow-indicator>
                  <q-tab v-for="type in types" :name="type" :label="type"></q-tab>
                </q-tabs>
                <q-btn class="col-2" flat icon="info" color="info" @click.stop="dialogHelpLayout">
              </div>
              <q-tab-panels v-model="panelLayoutTabs" animated class="col" v-if="types.length" keep-alive>
                <q-tab-panel :name="type" v-for="type in types" class="q-pa-none">
                  <!-- <q-input v-model="layoutSrcTypes[type]" filled type="textarea"></q-input> -->
                  <code-editor :languages="[['html','HTML']]" class="" v-model="layoutSrcTypes[type]" height="100%"
                    hide_header font_size="12px" :width="panelWidth+'px'" border_radius="0px"></code-editor>
                </q-tab-panel>
              </q-tab-panels>
              <!-- Original -->
              <!-- <q-input v-model="layoutSrc" filled type="textarea" v-if="types.length == 0"></q-input> -->
              <code-editor class="col" v-if="types.length == 0" :languages="[['html','HTML']]" v-model="layoutSrc"
                height="100%" hide_header font_size="12px" :width="panelWidth+'px'" border_radius="0px"></code-editor>
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </template>
      <template v-slot:after>
        <!-- Colonne droite -->
        <div v-if="cartes.length" class="col-auto row no-print">
          <div class="col-10 offset-1">
            <!-- Zoom -->
            <q-slider v-model="zoom" :min="0.1" :max="2" :step="0.1"></q-slider>
          </div>
        </div>
        <div v-if="cartes.length" class="col feuille" :style="{zoom: zoom, margin: crop.active ? crop.size + 'mm': 0}">
          <!-- Cartes -->
          <div class="carte" v-for="carte in cartes" :key="carte"
            :style="{ width: W + 'mm', height: H + 'mm', '--cropColor': crop.color, '--cropSize': -crop.size + 'mm', '--cropActive': crop.active ? 'block': 'none' }"
            v-html="carte">
          </div>
        </div>
        <div v-if="cartes.length==0" class="no-print col row justify-center">
          <div class="col-8 column justify-center">
            <q-card class="col-9">
              <q-card-section class="column full-height">
                <!-- Écran d'info -->
                <div class="text-h4">Fiat Ludux</div>
                <div class="text-caption2 q-mb-sm">by <a href="https://www.theologeek.ch">théologeek</a> @ <a
                    href="https://www.open-source.church">Open Source Church</a></div>
                <q-separator class="q-mb-sm"></q-separator>
                <q-scroll-area class="col full-width">
                  <div v-html="help"></div>
                </q-scroll-area>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </template>
    </q-splitter>
  </div>

  <style>
    .carte {
      float: left;
      position: relative;
      margin-left: -1px; /* useful for crop marks */
      margin-top: -1px;
    }

    .q-card__section code {
      white-space: nowrap;
      display: inline-block;
      padding: 2px 4px 4px;
      line-height: 1;
      font-size: .8em;
      color: #616161;
      background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
      border-radius: 4px;
      box-shadow: inset 0 -2px #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px #1e235a66;
      margin: 0 0.2em;
    }

    div.carte:before,
    div:after {
      position: absolute;
      content: '';
      border: solid var(--cropColor);
      z-index: -1;
      display: var(--cropActive);
    }

    div.carte:before {
      top: var(--cropSize);
      bottom: var(--cropSize);
      left: 0;
      right: 0;
      border-width: 0 1px;
    }

    div.carte:after {
      left: var(--cropSize);
      right: var(--cropSize);
      top: 0;
      bottom: 0;
      border-width: 1px 0;
    }
  </style>

  <!-- Beeeeeaaaaauuucoup trop de bibliothèques js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/quasar.umd.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/lang/fr.umd.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <!-- <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/csvtojson@2.0.10/browser/csvtojson.min.js"></script> -->
  <!-- <script src="https://unpkg.com/csvtojson@2.0.10/browser/csvtojson.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js"
    integrity="sha512-+BMamP0e7wn39JGL8nKAZ3yAQT2dL5oaXWr4ZYlTGkKOaoXM/Yj7c4oy50Ngz5yoUutAG17flueD4F6QpTlPng=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
    src="https://cdn.jsdelivr.net/gh/justcaliturner/simple-code-editor/browser/js/dist/code_editor.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.0/build/highlight.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    /**
    * Utility function to add replaceable CSS.
    * https://stackoverflow.com/a/15506705
    * @param {string} styleString
    */
    const updateStyle = (() => {
      const style = document.createElement('style');
      document.head.append(style);
      return (styleString) => style.textContent = styleString;
    })();
    // Setting local forage
    localforage.config({
      name: 'Fiat-Ludus',
      storeName: 'projets'
    })
    // Et on lance vue
    const app = Vue.createApp({
      setup() {
        return {}
      },
      components: {
        "code-editor": CodeEditor
      },
      data() {
        return {
          // UI things
          splitterModel: 40,
          tab: "projet",
          panel2tab: "csv",
          panelLayoutTabs: "",
          panelWidth: null,
          // CSV 
          csvSrc: ``,
          // CSS
          CSSSrc: ``,
          // Layout
          layoutSrc: "",
          layoutSrcTypes: {}, // layout by types
          donnees: [], // données extraites du CSV
          waitCSV: false, // une variable pour éviter les conversions en boucle dans les watches
          dataFilter: "", // pour filtrer le tableau
          W: 64, // dimensions des cartes
          H: 89,
          crop: {
            active: true,
            color: "#ff0000",
            size: 2
          },
          zoom: 1, // le zoom de la vue des cartes
          // Enregistrement local
          selectLocalProject: null, // le nom du projet selectionné par le q-select
          localProjects: [], // la liste des projets locaux
          // Open Source Projects
          OSCProjects: [{
            label: "GrattiCartes",
            value: "https://gist.githubusercontent.com/olivierkes/244dddece608d67a3cb68226a915e91b/raw"
          },
          {
            label: "EcclesiaFabula (en dév)",
            value: "https://gist.githubusercontent.com/olivierkes/87f7114865dc293c1cc4e9f8a59fe752/raw"
          },
          {
            label: "AMEN",
            value: "https://gist.githubusercontent.com/olivierkes/5f16da342288ed621af416968c2c3349/raw"
          }]
        }
      },
      computed: {
        cartes() {
          // On crée plusieurs cartes pour celles qui ont une valeur N
          var data = this.donnees.flatMap(e => Array(parseInt(e.N) || 1).fill(e))

          // On passe les cartes à la moulinette
          return data.map(d => this.generateCard(d))
        },
        headers() {
          content = this.csvSrc.split('\n')
          return content[0].split(',').map(t => _.trim(t))
        },
        CSS() {
          return this.CSSSrc
        },
        tableHeaders() {
          content = this.csvSrc.split('\n')
          header = content[0].split(',').map(t => _.trim(t))
          return header.map(h => {
            return {
              name: h,
              sortable: false,
              label: h,
              align: "left",
              field: h
            }
          })
        },
        types() {
          var t = _.uniq(this.donnees.map(d => d.Type)).filter(d => d)
          if (t.length > 0 && !t.includes(this.panelLayoutTabs)) {
            this.panelLayoutTabs = t[0]
          }
          return t
        },
        // Les données filtrées dans l'onglet Données / Data
        filteredDonnees () {
          return this.donnees.filter(d => JSON.stringify(d).toLowerCase().includes(this.dataFilter.toLowerCase()))
        },
        // Une variable pour les unifier tous
        singleJSON() {
          return {
            params: _.cloneDeep({
              H: this.H,
              W: this.W,
              crop: this.crop
            }),
            CSS: this.CSSSrc,
            Layout: this.layoutSrc,
            LayoutTypes: _.cloneDeep(this.layoutSrcTypes),
            CSV: this.csvSrc
          }
        },
        help() {
          var help = `Fiat Ludux est un outil de création de jeux de cartes, pour prototypage rapide.

**Les composantes principales sont:**

- **Les données:** au format CSV (coma separated value). La première ligne donne le nom des catégories,
  utilisées pour les Layouts.
- **Layout:** au format HTML. Chaque carte des données sera générée avec le contenu entré ici. S'il y a
  une colone \`Type\`, alors chaque type de carte peut avoir son propre layout. Le contenu des
  données est utilisé avec \`%%\`, par exemple \`%Nom%\` pour reprendre le contenu de la colonne
  \`Nom\`.
- **CSS:** la mise en forme, au format CSS.

Pour **exporter en PDF** ou **imprimer**, lancez simplement l'impression avec le navigateur \`fichier -> imprimer\` ou \`CTRL+P\`, réglez le papier et les marges, et c'est partit !

**Noms de colonnes CSV réservées:** <kbd>Test</kbd>

- \`N\`: chaque carte sera répétée \`N\` fois.
- \`Type\`: permet d'avoir des layouts différents.
- \`[M]]\`: formattage en markdown. Ajouter \`[M]\` à une colonne, par exemple \`Texte[M]\` pour que \`%Texte%\` soit d'abord formatté en markdown avant d'être rendu.

**Projets Open Source Church**

Vous pouvez importez les projets OSC suivant, pour voir comment ça fonctionne, ou vous faire plaisir avec.

- **AMEN:** Un quizz biblique et hilarant
- **GrattiCartes:** un jeu pour s'entraîner à la grattitude
- **EcclesiaFabula:** un jeu en développement pour raconter des histoires dans des églises
`
          return marked.parse(help)
        }
      },
      watch: {
        // On met à jour les données quand le CSV change
        // csvSrc: {
        //   immediate: true,
        //   async handler() {
        //     this.donnees = await csv().fromString(this.csvSrc).then((result) => result)
        //   },
        // },
        csvSrc () { 
          if (!this.waitCSV) {
            this.waitCSV = true
            this.donnees = Papa.parse(this.csvSrc, {header: true}).data
          } else {
            // csvSrc vient d'être modifiée, donc on parse pas
            this.waitCSV = false
          }
        },
        // On met à jour le CSV quand les données changent
        donnees: {
          deep: true, // parce que c'est un array d'Objets
          handler() {
            if (!this.waitCSV) {
              this.waitCSV = true
              var csv = Papa.unparse(this.donnees)
              if (csv !== this.csvSrc) this.csvSrc = csv
            } else {
              // donnees vient d'être modifié, donc on unparse pas
              this.waitCSV = false
            }
          }
        },
        // On met à jour le style des cartes quand le CSS change
        CSS: {
          immediate: true,
          handler() { updateStyle(this.CSS) }
        },
        // Une variable pour les contrôler toutes
        singleJSON: {
          deep: true,
          handler() {
            if (this.selectLocalProject) {
              this.saveLocalProject()
            }
          }
        },
        types() {
          // Pour garder la réactivité
          this.types.forEach(t => {
            Object.assign(this.layoutSrcTypes, { [t]: this.layoutSrcTypes[t] || "" })
          })
        },
        // Le projet local change
        selectLocalProject() {
          var self = this
          if (this.selectLocalProject) {
            localforage.getItem(this.selectLocalProject)
              .then(val => self.loadSingleJSON(val))
          } else {
            self.H = 89
            self.W = 64
            self.crop = {
              active: true,
              color: "#ff0000",
              size: 2
            },
            self.CSSSrc = ""
            self.layoutSrc = ""
            // self.layoutSrcTypes = {} FIXME on doit pas faire ça car ça supprime la reactivité
            Object.keys(self.layoutSrcTypes).forEach(t => delete self.layoutSrcTypes[t])
            self.csvSrc = ""
          }
        }
      },
      mounted() {
        this.updateLocalProjectsList()
      },
      created() {
        this.saveLocalProject = Quasar.debounce(this.saveLocalProject, 1000)
      },
      methods: {
        // Générer les cartes
        generateCard(val) {
          // On prend le bon layout
          if (val.Type) {
            var lyt = this.layoutSrcTypes[val.Type] || ""
          } else {
            var lyt = this.layoutSrc
          }

          // On remplace les valeurs des données CSV: %Nom%
          this.headers.forEach(H => {
            if (H.slice(-3) == "[M]") {
              // Avec markdown
              lyt = lyt.replaceAll("%" + H.slice(0, -3) + "%", marked.parse(val[H] || ""))
            } else {
              // Sans markdown
              lyt = lyt.replaceAll("%" + H + "%", val[H])
            }
          })

          // Macros: icone de game-icons : {{GI:NOM}}
          // Liste des icones: https://seiyria.com/gameicons-font/
          lyt = lyt.replaceAll(/\{\{GI:(.*?)\}\}/g, '<img src="https://seiyria.com/gameicons-font/svg/$1.svg" onload="SVGInjector(this)"/>')

          return lyt
        },
        // IO
        /*
        On charge les variables locales à partir du One JSON.
        */
        loadSingleJSON(val) {
          this.H = val.params.H
          this.W = val.params.W
          this.crop = val.params.crop || {active: false, color: "#000", size: 2}
          this.CSSSrc = val.CSS
          this.layoutSrc = val.Layout
          Object.assign(this.layoutSrcTypes, val.LayoutTypes)
          this.csvSrc = val.CSV
        },
        // Dialogues d'aide
        dialogHelpLayout() {
          var msg = []
          msg.push("Créez le layout en <b>HTML</b>.")
          msg.push(`Vous pouvez utiliser les titres de vos données CSV comme ceci: <code>%Titre%</code>. Les titres détectés dans vos données actuellement sont: <code>${this.headers.join(", ")}</code>.`)
          msg.push("Les maccros suivantes sont aussi disponibles:")
          msg.push("* <code>{{GI:nom}}</code> pour importer une icone de <a href=\"https://seiyria.com/gameicons-font/\" target=\"_blank\">game-icons</a>.")

          Quasar.Dialog.create({
            title: 'Création de layout',
            message: msg.map(t => `<p>${t}</p>`).join("\n"),
            html: true
          })
        },
        dialogHelpDonnees() {
          var msg = []
          msg.push("Entrez les données au format <b>CSV</b>.")
          msg.push(`La première ligne donne le nom des catégories qui pourront être utilisées pour créer les cartes.`)
          msg.push("Certains noms sont reservés pour des effets particuliers:")
          msg.push("* <code>Type</code> permet de créer différents types de cartes, avec leur propre <b>Layout</b> chacune.")
          msg.push("* <code>N</code> permet de créer plusieurs fois la même carte.")
          msg.push("Ajouter <code>[M]</code> pour utiliser du markdown. Par exemple <code>Texte[M]</code> signifie que <code>%Texte%</code> sera formatté en markdown avant d'être remplacé.")

          Quasar.Dialog.create({
            title: 'Données des cartes',
            message: msg.map(t => `<p>${t}</p>`).join("\n"),
            html: true
          })
        },
        // LocalForage
        saveLocalProject() {
          if (this.selectLocalProject) {
            localforage.setItem(this.selectLocalProject, this.singleJSON)
              .then(() => console.log("...saved"))
          }
        },
        createLocalProject() {
          var self = this
          Quasar.Dialog.create({
            title: "Comment s'appelle votre projet local?",
            message: "Le contenu de votre projet actuel sera conservé et enregistré localement.",
            prompt: {
              model: '',
              type: 'text' // optional
            },
            cancel: true,
            persistent: true
          }).onOk(data => {
            data = data.trim()
            if (data) {
              // On crée un projet vide
              localforage.setItem(data, self.singleJSON)
                // On update la liste des projets
                .then(val => self.updateLocalProjectsList())
                // On sélectionne le projet crée
                .then(v => self.selectLocalProject = data)
            }
          })
        },
        deleteProject() {
          var self = this
          Quasar.Dialog.create({
            title: 'Sûr?',
            message: 'Sûr de vouloir supprimer le projet <b>' + this.selectLocalProject + '</b>',
            cancel: true,
            html: true
          }).onOk(() => {
            localforage.removeItem(self.selectLocalProject)
              .then(() => self.updateLocalProjectsList())
              .then(() => self.selectLocalProject = "")
          })
        },
        updateLocalProjectsList() {
          var self = this
          localforage.keys().then(function (keys) {
            self.localProjects = keys
            console.log("Projets locaux:", keys)
          }).catch(function (err) {
            console.log(err);
          })
        },
        // Import / export
        save() {
          Quasar.exportFile('projet.json', JSON.stringify(this.singleJSON, null, 4))
        },
        copy() {
          Quasar.copyToClipboard(JSON.stringify(this.singleJSON, null, 4))
            .then(() => Quasar.Notify.create("Contenu copié dans le presse-papier."))
        },
        load() {
          var self = this
          Quasar.Dialog.create({
            title: 'Import',
            message: "Collez le contenu d'un fichier JSON de sauvegarde",
            prompt: {
              model: '',
              type: 'textarea' // optional
            },
            cancel: true,
          }).onOk(data => {
            val = JSON.parse(data)
            self.loadSingleJSON(val)
          })
        },
        // OSC Projects
        loadOSCProject(val) {
          var self = this
          Quasar.Loading.show({
            message: `Importation en cours de ${val.label}… on y croit !`
          })
          axios.get(val.value).then(res => {
            self.loadSingleJSON(res.data)
            Quasar.Loading.hide()
          })
        },
        //UI thing
        onResize(size) {
          this.panelWidth = size.width
        }
      }
    })

    app.use(Quasar)
    Quasar.lang.set(Quasar.lang.fr)
    app.mount('#q-app')

  </script>

  <style>
    @media print {

      .no-print,
      .q-splitter__before,
      .q-splitter__separator {
        display: none !important;
      }

      q-splitter__panel {
        position: absolute;
        left: 0;
      }

      .feuille {
        zoom: 100% !important;
        width: auto;
        height: auto;
      }

      div {
        page-break-inside: avoid;
      }

      .q-splitter {
        height: auto !important;
      }

      body,
      .q-splitter__after,
      .feuille {
        margin: 0px;
        padding: 0px;
      }
    }
  </style>
</body>

</html>