<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
    type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
  <!-- Icons from https://seiyria.com/gameicons-font/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg-injector/1.1.3/svg-injector.min.js"
    integrity="sha512-LpKoEmPyokcDYSjRJ/7WgybgdAYFsKtCrGC9m+VBwcefe1vHXyUnD9fTQb3nXVJda6ny1J84UR+iBtEYm3OQmQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
  <!-- example of injection point where you write your app template -->
  <div id="q-app" style="height: 100vh; width: 100%;">
    <q-splitter v-model="splitterModel" class="full-height" :limits="[30, 70]" before-class="column">
      <template v-slot:before>
        <!-- Colonne gauche -->
        <div class="col column full-height">
          <!-- Tabs -->
          <q-tabs v-model="tab" class="bg-primary text-white shadow-2">
            <q-tab name="projet" icon="star" label="Projet"></q-tab>
            <q-tab name="donnees" icon="description" label="Données"></q-tab>
            <q-tab name="css" icon="style" label="CSS"></q-tab>
            <q-tab name="layout" icon="format_shapes" label="Layout"></q-tab>
          </q-tabs>
          <!-- Projet -->
          <q-tab-panels v-model="tab" animated class="col">
            <q-tab-panel name="projet">
              <!-- Import / export -->
              <p class="text-overline">Import / export</p>
              <div class="row q-mb-sm">
                <q-btn class="col" flat class="full-width" icon="content_copy" label="Copier" @click="copy"></q-btn>
                <q-btn class="col" flat class="full-width" icon="file_download" label="Enregistrer" @click="save">
                </q-btn>
                <q-btn class="col" flat class="full-width" icon="content_paste" label="Coller" @click="load">
                </q-btn>
              </div>
              <!-- Local projects -->
              <p class="text-overline">Enregistré localement</p>
              <div class="row q-mb-sm">
                <div class="col-11">
                  <q-select dense filled v-model="selectLocalProject" :options="localProjects" label="Projets locaux">
                  </q-select>
                </div>
                <div class="col-1 text-center">
                  <q-btn dense round icon="add" @click="createLocalProject"></q-btn>
                </div>
              </div>
              <div class="row q-mb-sm" v-if="selectLocalProject">
                <div class="col-10">
                  Projet sélectionné: {{ selectLocalProject }}
                </div>
                <div class="col-1 text-center">
                  <q-btn dense round flat icon="edit" disable></q-btn>
                </div>
                <div class="col-1 text-center">
                  <q-btn dense round flat icon="delete" @click="deleteProject"></q-btn>
                </div>
              </div>
              <!-- Projets OSC -->
              <p class="text-overline">Projets Open Source Church</p>
              <q-select dense filled :options="OSCProjects" @update:model-value="loadOSCProject"></q-select>

              <!-- Paramètres -->
              <p class="text-h5">Paramètres</p>
              <p class="text-overline">Dimensions de la carte</p>
              <div class="row justify-center">
                <div class="col-4">
                  <q-input dense v-model.number="W" type="number" filled hint="largeur">
                  </q-input>
                </div>
                <div class="col-1 text-center">×</div>
                <div class="col-4">
                  <q-input dense v-model.number="H" type="number" filled hint="hauteur">
                  </q-input>
                </div>
              </div>
            </q-tab-panel>

            <!-- Données -->
            <q-tab-panel name="donnees" class="q-pa-none column">
              <div class="row">
                <q-tabs v-model="panel2tab" dense class="col-10 text-grey" active-color="primary"
                  indicator-color="primary" align="justify" narrow-indicator>
                  <q-tab name="csv" label="CSV"></q-tab>
                  <q-tab name="data" label="Data"></q-tab>
                </q-tabs>
                <q-btn class="col-2" flat icon="info" color="info" @click.stop="dialogHelpDonnees">
              </div>
              <q-separator></q-separator>
              <q-tab-panels v-model="panel2tab" animated>
                <q-tab-panel name="csv" class="q-pa-none">
                  <q-input v-model="csvSrc" filled type="textarea"></q-input>
                </q-tab-panel>

                <q-tab-panel name="data" class="q-pa-none">
                  <q-table :rows="donnees" :columns="tableHeaders" row-key="name" class="full-height">
                  </q-table>
                </q-tab-panel>
              </q-tab-panels>
            </q-tab-panel>

            <!-- CSS -->
            <q-tab-panel name="css" class="q-pa-none">
              <q-input v-model="CSSSrc" filled type="textarea"></q-input>
            </q-tab-panel>

            <!-- Layout -->
            <q-tab-panel name="layout" class="q-pa-none">
              <!-- Tabs -->
              <div class="row">
                <q-tabs v-model="panelLayoutTabs" dense class="col-10 text-grey" active-color="primary"
                  indicator-color="primary" align="justify" narrow-indicator>
                  <q-tab v-for="type in types" :name="type" :label="type"></q-tab>
                </q-tabs>
                <q-btn class="col-2" flat icon="info" color="info" @click.stop="dialogHelpDonnees">
              </div>
              <q-separator></q-separator>
              <q-tab-panels v-model="panelLayoutTabs" animated v-for="type in types">
                <q-tab-panel :name="type" class="q-pa-none">
                  <q-input v-model="layoutSrcTypes[type]" filled type="textarea"></q-input>
                </q-tab-panel>
              </q-tab-panels>
              <q-separator></q-separator>
              <!-- Original -->
              <q-input v-model="layoutSrc" filled type="textarea" v-if="types.length == 0"></q-input>
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </template>
      <template v-slot:after>
        <!-- Colonne droite -->
        <div class="row no-print">
          <div class="col-10 offset-1">
            <q-slider v-model="zoom" :min="0.1" :max="2" :step="0.1"></q-slider>
          </div>
        </div>
        <div class="feuille" :style="{zoom: zoom}">
          <div class="carte" v-for="carte in cartes" :key="carte" :style="{ width: W + 'mm', height: H + 'mm' }"
            v-html="carte">
          </div>
        </div>
      </template>
    </q-splitter>
  </div>

  <style>
    .carte {
      float: left;
      position: relative;
    }
  </style>

  <!-- Beeeeeaaaaauuucoup trop de bibliothèques js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/quasar.umd.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.6.0/dist/lang/fr.umd.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <!-- <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/csvtojson@2.0.10/browser/csvtojson.min.js"></script>
  <!-- <script src="https://unpkg.com/csvtojson@2.0.10/browser/csvtojson.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js"
    integrity="sha512-+BMamP0e7wn39JGL8nKAZ3yAQT2dL5oaXWr4ZYlTGkKOaoXM/Yj7c4oy50Ngz5yoUutAG17flueD4F6QpTlPng=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    /**
    * Utility function to add replaceable CSS.
    * https://stackoverflow.com/a/15506705
    * @param {string} styleString
    */
    const updateStyle = (() => {
      const style = document.createElement('style');
      document.head.append(style);
      return (styleString) => style.textContent = styleString;
    })();
    // Setting local forage
    localforage.config({
      name: 'Fiat-Ludus',
      storeName: 'projets'
    })
    // Et on lance vue
    const app = Vue.createApp({
      setup() {
        return {}
      },
      data() {
        return {
          // UI things
          splitterModel: 40,
          tab: "projet",
          panel2tab: "csv",
          panelLayoutTabs: "",
          // CSV un exemple
          csvSrc: `Type,Icone,Texte, N
Titre, , GRATTI<br>CARTES,
Règles,,"**Règles**

*⇒* À deux, en petit groupe, lors d’une cérémonie d’adieu, etc. pour susciter des occasions de se remercier.

*⇒* Lors d’un événement de longue durée, distribuer les cartes aux participant·e·s, qui peuvent se les échanger quand les occasions se présentent.


<span class='credits'>**Crédits**
:CC-BY: *www.holygames.ch*
Adapté de <i>Thanker Cards</i> de Alexandre Quach (#OSG 703)
</span>"
Carte,direction-signs,"Grace à toi,, j’ai changé d’avis sur un sujet important", 1
Carte,crossroad,"Grâce à toi,, j’ai pu prendre une décision difficile", 1
Carte,honeycomb,"Grâce à toi,, j’ai découvert quelque chose qui va améliorer ma vie"
Carte,trail,"Grâce à toi,, j’ai progressé dans un domaine de ma vie"
Carte,battery-pack,"Grâce à toi,, j’ai rechargé mes batteries"`,
          // CSS
          CSSSrc: `@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');
.carte{background: purple; padding: 3mm; border-radius:3mm;  }
.background { background: white; width: 100%; height: 100%; border-radius:2mm;}
.icone {height: 26mm; width: 26mm; position: absolute; top: 10mm; left: 19mm;}
.icone svg, .icone image {width: inherit; height: inherit}
.icone svg path {fill:purple;}
.texte{color: purple; position: relative; top: 40mm; width: inherit; padding: 0 5mm; text-align:center; font-size: 5mm; line-height: 1;}
.logo {width: 10mm; position: absolute; top: 71mm; left: 5mm;}
.desc {font-size: 3mm; position: absolute; top: 73.6mm; left: 17mm; width: 45mm; line-height: 1; color: purple;}
.titre-texte {position:relative; font-size: 9mm; color: white; top:50mm; width: initial; font-family: 'Source Code Pro', monospace;}
.titre-icone {display: block; width: 30mm; top: 10mm; left: 17mm; position: absolute;}
.regle.texte {top: 3mm; font-size: 4mm; text-align: left;}
.credits {font-size: 3.3mm;}`,
          // Layout
          layoutSrc: "",
          layoutSrcTypes: {
            Titre: `<img class="titre-icone" src="https://i.ibb.co/k4CVVc7/logo-cube-seul-white.png">
<div class="titre-texte texte">%Texte%</div>`,
            Carte: `<div class="background">
<div class="icone">{{GI:%Icone%}}</div>
<div class="texte">%Texte%</div>
<img src="https://i.ibb.co/x2Srz4s/logo-cube-seul.png" class="logo">
<div class="desc">Donnez cette carte à quelqu'un, en lui expliquant pourquoi.</div>
</div>`,
            Règles: `<div class="background">
<div class="regle texte">%Texte%</div>`
          }, // layout by types
          donnees: [], // données extraites du CSV
          W: 64, // dimensions des cartes
          H: 88,
          zoom: 1, // le zoom de la vue des cartes
          // Enregistrement local
          selectLocalProject: null, // le nom du projet selectionné par le q-select
          localProjects: [], // la liste des projets locaux
          // Open Source Projects
          OSCProjects: [{
            label: "GrattiCartes",
            value: "https://gist.githubusercontent.com/olivierkes/244dddece608d67a3cb68226a915e91b/raw"
          }]
        }
      },
      computed: {
        cartes() {
          // On crée plusieurs cartes pour celles qui ont une valeur N
          var data = this.donnees.flatMap(e => Array(parseInt(e.N) || 1).fill(e))
          return data.map(d => {
            // Remplace les valeurs des données CSV: %Nom%
            if (d.Type) {
              var lyt = this.layoutSrcTypes[d.Type] || ""
            } else {
              var lyt = this.layoutSrc
            }
            this.headers.forEach(H => lyt = lyt.replaceAll("%" + H + "%", d[H]))

            // Macros: icone de game-icons : {{GI:NOM}}
            // Liste des icones: https://seiyria.com/gameicons-font/
            lyt = lyt.replaceAll(/\{\{GI:(.*?)\}\}/g, '<img src="https://seiyria.com/gameicons-font/svg/$1.svg" onload="SVGInjector(this)"/>')

            return lyt
          }
          )
        },
        headers() {
          content = this.csvSrc.split('\n')
          return content[0].split(',').map(t => _.trim(t))
        },
        CSS() {
          return this.CSSSrc
        },
        tableHeaders() {
          content = this.csvSrc.split('\n')
          header = content[0].split(',').map(t => _.trim(t))
          return header.map(h => {
            return {
              name: h,
              sortable: false,
              label: h,
              align: "left",
              field: h
            }
          })
        },
        types() {
          var t = _.uniq(this.donnees.map(d => d.Type)).filter(d => d)
          if (t.length > 0 && !t.includes(this.panelLayoutTabs)) {
            this.panelLayoutTabs = t[0]
          }
          return t
        },
        // Une variable pour les unifier tous
        singleJSON() {
          return {
            params: {
              H: this.H,
              W: this.W
            },
            CSS: this.CSSSrc,
            Layout: this.layoutSrc,
            LayoutTypes: _.cloneDeep(this.layoutSrcTypes),
            CSV: this.csvSrc
          }
        }
      },
      watch: {
        // On met à jour les données quand le CSV change
        csvSrc: {
          immediate: true,
          async handler() {
            this.donnees = await csv().fromString(this.csvSrc).then((result) => result)
          },
        },
        // On met à jour le style des cartes quand le CSS change
        CSS: {
          immediate: true,
          handler() { updateStyle(this.CSS) }
        },
        // Une variable pour les contrôler toutes
        singleJSON() {
          if (this.selectLocalProject) {
            this.saveLocalProject()
          }
        },
        // Le projet local change
        selectLocalProject() {
          var self = this
          if (this.selectLocalProject) {
            localforage.getItem(this.selectLocalProject)
              .then(val => self.loadSingleJSON(val))
          } else {
            self.H = 88
            self.W = 64
            self.CSSSrc = ""
            self.layoutSrc = ""
            self.layoutSrcTypes = {}
            self.csvSrc = ""
          }
        }
      },
      mounted() {
        this.updateLocalProjectsList()
      },
      created() {
        this.saveLocalProject = Quasar.debounce(this.saveLocalProject, 1000)
      },
      methods: {
        // IO
        /*
        On charge les variables locales à partir du One JSON.
        */
        loadSingleJSON(val) {
          this.H = val.params.H
          this.W = val.params.W
          this.CSSSrc = val.CSS
          this.layoutSrc = val.Layout
          this.layoutSrcTypes = _.cloneDeep(val.LayoutTypes)
          this.csvSrc = val.CSV
        },
        // Dialogues d'aide
        dialogHelpLayout() {
          var msg = []
          msg.push("Créez le layout en <b>HTML</b>.")
          msg.push(`Vous pouvez utiliser les titres de vos données CSV comme ceci: <code>%Titre%</code>. Les titres détectés dans vos données actuellement sont: <code>${this.headers.join(", ")}</code>.`)
          msg.push("Les maccros suivantes sont aussi disponibles:")
          msg.push("* <code>{{GI:nom}}</code> pour importer une icone de <a href=\"https://seiyria.com/gameicons-font/\" target=\"_blank\">game-icons</a>.")

          Quasar.Dialog.create({
            title: 'Création de layout',
            message: msg.map(t => `<p>${t}</p>`).join("\n"),
            html: true
          })
        },
        dialogHelpDonnees() {
          var msg = []
          msg.push("Entrez les données au format <b>CSV</b>.")
          msg.push(`La première ligne donne le nom des catégories qui pourront être utilisées pour créer les cartes.`)
          msg.push("Certains noms sont reservés pour des effets particuliers:")
          msg.push("* <code>Type</code> permet de créer différents types de cartes, avec leur propre <b>Layout</b> chacune.")
          msg.push("* <code>N</code> permet de créer plusieurs fois la même carte.")

          Quasar.Dialog.create({
            title: 'Données des cartes',
            message: msg.map(t => `<p>${t}</p>`).join("\n"),
            html: true
          })
        },
        // LocalForage
        saveLocalProject() {
          if (this.selectLocalProject) {
            localforage.setItem(this.selectLocalProject, this.singleJSON)
              .then(() => console.log("...saved"))
          }
        },
        createLocalProject() {
          var self = this
          Quasar.Dialog.create({
            title: 'Nouveau projet local',
            message: "Comment s'appelle votre projet?",
            prompt: {
              model: '',
              type: 'text' // optional
            },
            cancel: true,
            persistent: true
          }).onOk(data => {
            data = data.trim()
            if (data) {
              // On crée un projet vide
              localforage.setItem(data, {
                params: { H: 88, W: 64 },
                CSS: "",
                Layout: "",
                LayoutTypes: {},
                CSV: ""
              })
                // On update la liste des projets
                .then(val => self.updateLocalProjectsList())
                // On sélectionne le projet crée
                .then(v => self.selectLocalProject = data)
            }
          })
        },
        deleteProject() {
          var self = this
          Quasar.Dialog.create({
            title: 'Sûr?',
            message: 'Sûr de vouloir supprimer le projet <b>' + this.selectLocalProject + '</b>',
            cancel: true,
            html: true
          }).onOk(() => {
            localforage.removeItem(self.selectLocalProject)
              .then(() => self.updateLocalProjectsList())
              .then(() => self.selectLocalProject = "")
          })
        },
        updateLocalProjectsList() {
          var self = this
          localforage.keys().then(function (keys) {
            self.localProjects = keys
            console.log("Projets locaux:", keys)
          }).catch(function (err) {
            console.log(err);
          })
        },
        // Import / export
        save() {
          Quasar.exportFile('projet.json', JSON.stringify(this.singleJSON, null, 4))
        },
        copy() {
          Quasar.copyToClipboard(JSON.stringify(this.singleJSON, null, 4))
            .then(() => Quasar.Notify.create("Contenu copié dans le presse-papier."))
        },
        load() {
          var self = this
          Quasar.Dialog.create({
            title: 'Import',
            message: "Collez le contenu d'un fichier JSON de sauvegarde",
            prompt: {
              model: '',
              type: 'textarea' // optional
            },
            cancel: true,
          }).onOk(data => {
            val = JSON.parse(data)
            self.loadSingleJSON(val)
          })
        },
        // OSC Projects
        loadOSCProject(val) {
          var self = this
          Quasar.Loading.show({
            message: `Importation en cours de ${val.label}… on y croit !`
          })
          axios.get(val.value).then(res => {
            self.loadSingleJSON(res.data)
            Quasar.Loading.hide()
          })
        }
      }
    })

    app.use(Quasar)
    Quasar.lang.set(Quasar.lang.fr)
    app.mount('#q-app')

  </script>

  <style>
    @media print {

      .no-print,
      .q-splitter__before,
      .q-splitter__separator {
        display: none !important;
      }

      q-splitter__panel {
        position: absolute;
        left: 0;
      }

      .feuille {
        zoom: 100% !important;
        width: auto;
        height: auto;
      }

      div {
        page-break-inside: avoid;
      }

      .q-splitter {
        height: auto !important;
      }

      body,
      .q-splitter__after,
      .feuille {
        margin: 0px;
        padding: 0px;
      }
    }
  </style>
</body>

</html>